[submodule "NeTEx"]
	path = NeTEx
	url = https://github.com/NeTEx-CEN/NeTEx
[submodule "SIRI"]
	path = SIRI
	url = https://github.com/SIRI-CEN/SIRI
	branch = ControlActions
[submodule "OJP"]
	path = OJP
	url = https://github.com/VDVde/OJP
